body {
	font-family: Roboto;
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, rgba(145, 13, 221, 0.692) 10%, #EAECC6 90%); /* W3C */
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #2980B9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
}

.fa-pencil-alt {
    float: right;
}

li span {
    background: #e74c3c;    
    color: white;
    margin-right: 20px;
    height: 40px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.1s linear;
    opacity : 0;
}

li {
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background: #F7F7F7;
}

li:hover span {
    width: 40px;
    opacity: 1 ;
}
#container {
    background-color: #F7F7F7;
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980B9;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: white;
    border: 3px solid #2980B9;
    outline: none;
}